button{
    background:cornflowerblue;
    color:#fff;
    border:none;
    position:relative;
    margin-top: 50px;
    margin-left: 52px;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
button:hover{
    background:#fff;
    color:cornflowerblue;
  }
button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background:cornflowerblue;
    transition:400ms ease all;
  }
button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  